{%extends 'base.html'%}{% block icons %} {%endblock icons %} {% block footer%}
{% endblock footer%} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/hms.css' %}" />
<body>
  <!-- <div class="container">
    <div class="row justify-content-md-center">
      {%for data in room%} {% if data.id not in book %}
      <div class="card" style="width: 18rem; margin: 40px; margin-top: 15%">
        <img
          class="card-img-top"
          src="{{data.image.url}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{data.Category}} {{data.Room_number}}</h5>
          <p class="card-text">{{data.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Number of beds: {{data.Beds}}</li>
          <li class="list-group-item">Price for 1 night: {{data.Price}}</li>
          <li class="list-group-item">Capacity of room: {{data.Capacity}}</li>
        </ul>
        <div class="card-body">
          <form action="" method="POST">
            {{form.as_p}} {% csrf_token %}
            <a href="{% url 'hms:booking_list' %}"
              ><button type="submit">room book</button></a
            >
          </form>
        </div>
      </div>
      {% endif %} {%endfor%}
    </div>
  </div> -->
  <!-- <div class="container">
    <div class="row justify-content-md-center">
      {%for data in room%} {% if data.id not in book %}
      <div class="card mb-3" style="max-width: 540px">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="{{data.image.url}}" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{data.Category}} {{data.Room_number}}</h5>
              <p class="card-text">{{data.description}}</p>
              <form action="" method="POST">
                {{form.as_p}} {% csrf_token %}
                <a href="{% url 'hms:booking_list' %}"
                  ><button type="submit">room book</button></a
                >
              </form>
            </div>
          </div>
        </div>
        {% endif %} {%endfor%}
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="card">
      <div class="row">
        {%for data in room%} {% if data.id not in book %}
        <aside class="col-sm-5 border-right">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <a href="#"><img src="{{data.image.url}}"class="img-fluid" alt="Responsive image" /></a>
              </div>
            </div>
          </article>
          <!-- gallery-wrap .end// -->
        </aside>
        <aside class="col-sm-7">
          <article class="card-body p-5">
            <h3 class="title mb-3">{{data.Category}} {{data.Room_number}}</h3>

            <p class="price-detail-wrap">
              <span class="price h3 text-warning">
                <span class="currency">NRP $</span
                ><span class="num">{{data.Price}}</span>
              </span>
              <span>/per night</span>
            </p>
            <!-- price-detail-wrap .// -->
            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{data.description}}</p>
              </dd>
            </dl>
            <dl class="param param-feature">
              <dt>Capacity</dt>
              <dd>{{data.Capacity}}</dd>
            </dl>
            <!-- item-property-hor .// -->
            <dl class="param param-feature">
              <dt>Beds</dt>
              <dd>{{data.Beds}}</dd>
            </dl>
            <hr />
            <div class="row">
              <div class="col-sm-5">
                <form action="" method="POST">
                  {{form.as_p}} {% csrf_token %}
                                 
              </div>
            </div>
            <!-- row.// -->
            <hr />
            <button type="submit" class="btn btn-info">Book Now</button>
              </a>
            </form>
          </article>
          <!-- card-body.// -->
        </aside>
        {% endif %} {%endfor%}
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!-- card.// -->
  </div>
  <!--container.//-->
</body>
{% endblock content %}
